@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&family=Gothic+A1:wght@100;200;300;400&family=Poppins:wght@200;300;400;500;600&display=swap');
.App {
  text-align: center;
}

h1,
h3,
h2{
  margin: 0;
}

body,
html{
  font-family: "Epilogue";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
